<div class="shortinfo-block">
<p>ИПОПБ Профессиональной Переподготовки применяет инновационный подход к дополнительному образованию, повышая его доступность. </p>
<p>Мы предлагаем дистанционные программы обучения, разработанные на основе действующих стандартов заочного образования, с использованием современных технологий. </p>
<p>Каждый, кто желает освоить смежную специальность или повысить квалификацию, может учиться по выбранному направлению онлайн, получив доступ к учебно-методическому комплексу. </p>
<p>Процессом обучения руководит преподаватель курсов, который оказывает помощь в изучении материала и отвечает на все возникающие вопросы. </p>
<p>Такой формат образования доступен самому широкому кругу слушателей, каждый желающий может пройти курс профессиональной переподготовки из любой точки мира, где есть интернет, без нежелательных перерывов в работе и длительных учебных командировок. </p>
<p>Единственным условием зачисления в ИПОПБ является оконченное среднее специальное или высшее образование. </p>
<p>Рассчитать стоимость учебной программы, задать вопросы и записаться на курс можно по контактному телефону или через специальную форму заявки на сайте. </p>

</div> 
