.header  
	height: 340px 
	background-size: cover 
	 
	&__head
		font-size: 48px
		font-family: "Roboto Slab"
		color: rgb(255, 255, 255)
		font-weight: 700
		text-transform: uppercase
		text-align: center
		position: relative
		z-index: 2

.img
    margin: 30px 0px
    height: 500px
    width: 100%
    object-fit: cover