body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 13px 20px;
  font-size: 14px;
  color: #ffffff;
  background: #ff9d00;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  background: #ffb133;
}

.btn-o {
  border: 1px solid #9b9b9b;
  background: transparent;
  color: #9b9b9b;
}

.btn-o:hover {
  background: #e8e8e8;
  color: #000000;
}

h1 {
  font-size: 41px;
  color: #ffffff;
  font-weight: bold;
  line-height: 42px;
}

@media (max-width: 776px) {
  h1 {
    margin-bottom: 50px;
  }
}

h1 span {
  display: block;
  font-size: 28px;
  font-weight: normal;
}

.logo {
  margin-right: auto;
}

@media (max-width: 990px) {
  .logo {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 140px;
  }
}

h2 {
  font-size: 27px;
  color: #313131;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: url("../img/wavy.png") no-repeat center bottom;
  padding-bottom: 7px;
  margin-bottom: 30px;
}

section {
  padding: 50px 0px;
}

img {
  width: 100%;
  height: auto;
}

.header__top-wrap {
  padding-top: 59px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  color: #373737;
  text-transform: uppercase;
}

@media (max-width: 990px) {
  .header__contacts {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .header__contacts {
    font-size: 15px;
    display: block;
    border-right: 1px solid #cfcfd0;
  }
}

.header__phone:nth-child(1) {
  border-right: 1px solid #cfcfd0;
  padding-right: 14px;
  margin-right: 14px;
}

@media (max-width: 990px) {
  .header__phone:nth-child(1) {
    padding-right: 5px;
    margin-right: 1px;
  }
}

@media (max-width: 768px) {
  .header__phone:nth-child(1) {
    border-right: none;
  }
}

.header__call {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .header__call {
    display: none;
  }
}

.header__call-mobile {
  display: none;
  padding: 10px 14px;
}

@media (max-width: 768px) {
  .header__call-mobile {
    display: block;
  }
}

@media (max-width: 990px) {
  .header__call {
    margin-left: 10px;
  }
}

.header__call img {
  height: 20px;
  width: auto;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }

  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes move {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }

  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.boxAnimate {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.main {
  background: url("../img/main/bgTop.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.main:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.main__wrap {
  position: relative;
  z-index: 2;
  height: 531px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 776px) {
  .main__wrap {
    height: auto;
  }
}

.main__image {
  width: 50%;
  margin-left: -130px;
  position: relative;
  z-index: 2;
}

@media (max-width: 776px) {
  .main__image {
    display: none;
  }
}

.main__image_mobi {
  display: none;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 776px) {
  .main__image_mobi {
    display: block;
  }
}

.main__image:before {
  content: "";
  position: absolute;
  border: 1px solid #616161;
  border-radius: 50%;
  z-index: -1;
  top: -20px;
  left: 5px;
  right: 5px;
  bottom: -20px;
}

.main__right {
  margin-left: 33px;
  width: 50%;
}

@media (max-width: 776px) {
  .main__right {
    width: 100%;
    margin-left: 0px;
  }
}

.main__form-wrap {
  padding: 30px;
  width: 535px;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 776px) {
  .main__form-wrap {
    width: 100%;
    margin-left: 0px;
  }
}

.main__text {
  font-weight: 300;
  line-height: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.5;
}

.main__text span {
  text-transform: uppercase;
  display: block;
  font-weight: 700;
}

.main__form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
}

@media (max-width: 434px) {
  .main__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.main__input {
  font-weight: 300;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 311px;
  padding: 17px;
}

@media (max-width: 434px) {
  .main__input {
    width: 100%;
    margin-bottom: 10px;
  }
}

.main__form-help {
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 300;
  color: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay .popup {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 752px;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: white;
}

.overlay .popup__close {
  right: -20px;
  top: -30px;
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
  color: #fff;
  position: absolute;
}

.overlay .popup__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 71px;
  background-color: #ff9d00;
  font-size: 21px;
  font-family: "Roboto";
  color: white;
  text-transform: uppercase;
}

.overlay .popup__form-wrap {
  width: 100%;
  height: 275px;
  background: url("../img/modal/modalBg.jpg") no-repeat center/cover;
}

.popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  line-height: 1.0;
  text-align: center;
}

.popup-form span {
  font-size: 24px;
}

.popup-form__tell {
  display: block;
  font-size: 20px;
  margin: 17px 0px;
}

.popup-form__input {
  border: none;
  border-radius: 5px;
  vertical-align: middle;
}

.popup-form__btn {
  display: inline-block;
  vertical-align: middle;
}

.popup-form__note {
  margin-top: 10px;
  font-size: 14px;
}

.feature {
  background-color: #f4f4f4;
}

.feature__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.feature__item {
  -ms-flex-preferred-size: 350px;
  flex-basis: 350px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .feature__item {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
  }
}

.feature__item_block {
  text-align: left;
  padding: 25px 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__heading {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 900;
  color: #ff9d00;
}

.feature__heading_block {
  font-size: 15px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 0;
}

.feature__text {
  font-size: 16px;
}

.feature__text_block {
  font-size: 15px;
  font-weight: 300;
}

.feature__img {
  margin-right: 10px;
  width: 60px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.feature__img img {
  width: 100%;
  height: auto;
}

.productions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.productions__item {
  -ms-flex-preferred-size: 382px;
  flex-basis: 382px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}

.productions__img {
  width: 100%;
  margin-bottom: 20px;
}

.productions__title {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  margin-bottom: 20px;
  color: #313131;
  line-height: 1;
  text-align: center;
}

.productions__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.productions__btn {
  margin-right: 5px;
}

.individual {
  position: relative;
  z-index: 1;
  background: url("../img/individual/bg.jpg") no-repeat center/cover;
}

.individual::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.individual__heading {
  background: none;
  color: white;
  text-transform: none;
  font-size: 32px;
  font-weight: normal;
  color: white;
  line-height: 1.094;
}

.individual__title {
  font-size: 22px;
  margin-top: 10px;
  display: block;
}

.individual__input {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.clients__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.produse__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 774px) {
  .produse__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.produse__slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 774px) {
  .produse__slider-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
}

.produse__slider {
  overflow: hidden;
  position: relative;
}

.produse__slider .slick-arrow {
  z-index: 10;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 100px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: transparent;
  color: #ff9d00;
  cursor: pointer;
  border: none;
  border: 1px solid #ff9d00;
}

.produse__slider .slick-arrow:hover {
  background-color: #ff9d00;
}

.produse__slider .slick-arrow:hover:before {
  color: #ffffff;
}

.produse__slider .slick-prev {
  margin-right: 10px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
  left: 30px;
}

.produse__slider .slick-prev:before {
  content: "\27A4";
}

.produse__slider .slick-next {
  margin-left: 10px;
  right: 0px;
}

.produse__slider .slick-next:before {
  content: "\27A4";
}

.produse_descr {
  width: 50%;
}

@media (max-width: 774px) {
  .produse_descr {
    width: 100%;
  }
}

.produse__heading {
  padding: 8px;
  padding-left: 20px;
  font-size: 28px;
  color: white;
  background: #ff9d00;
}

.produse__text {
  padding: 20px;
  font-size: 16px;
  font-family: "Roboto";
  color: #373737;
  line-height: 1.5;
}

.produse__img-wrap {
  position: relative;
  margin: 5px;
}

.produse__img-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.produse .slick-current:after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (max-width: 774px) {
  .slider-nav {
    display: none;
  }
}

.slider-nav .slick-prev {
  margin-right: 10px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.slider-nav .slick-prev:before {
  content: "\27A4";
}

.slider-nav .slick-next {
  margin-left: 10px;
}

.slider-nav .slick-next:before {
  content: "\27A4";
}

.slider-nav .slick-arrow {
  width: 50px;
  background: transparent;
  color: #ff9d00;
  cursor: pointer;
  border: none;
  border: 1px solid #ff9d00;
}

.slider-nav .slick-arrow:hover {
  background-color: #ff9d00;
}

.slider-nav .slick-arrow:hover:before {
  color: #ffffff;
}

.testimonials img {
  display: block;
  padding: 10px 50px;
}

@media (max-width: 774px) {
  .testimonials img {
    padding: 0;
  }
}

.testimonials__slider {
  position: relative;
}

.testimonials__slider .slick-prev {
  left: 0;
  margin-right: 10px;
  -webkit-transform: rotate(180deg) translateY(50%);
  transform: rotate(180deg) translateY(50%);
  background: url("../img/testimonials/next.png") no-repeat center center;
}

.testimonials__slider .slick-next {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  margin-left: 10px;
  background: url("../img/testimonials/next.png") no-repeat center center;
}

.testimonials__slider .slick-arrow {
  top: 50%;
  height: 63px;
  width: 40px;
  position: absolute;
  z-index: 10000;
  outline: none;
  cursor: pointer;
  border: none;
}

.testimonials__slider .slick-arrow:hover:before {
  color: #ffffff;
}