
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");
 
    ym(51614180, "init", {
         id:51614180,
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true,
         trackHash:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/51614180" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
<div class="shortinfo-block">
<p>ИПОПБ Профессиональной Переподготовки применяет инновационный подход к дополнительному образованию, повышая его доступность. </p>
<p>Мы предлагаем дистанционные программы обучения, разработанные на основе действующих стандартов заочного образования, с использованием современных технологий. </p>
<p>Каждый, кто желает освоить смежную специальность или повысить квалификацию, может учиться по выбранному направлению онлайн, получив доступ к учебно-методическому комплексу. </p>
<p>Процессом обучения руководит преподаватель курсов, который оказывает помощь в изучении материала и отвечает на все возникающие вопросы. </p>
<p>Такой формат образования доступен самому широкому кругу слушателей, каждый желающий может пройти курс профессиональной переподготовки из любой точки мира, где есть интернет, без нежелательных перерывов в работе и длительных учебных командировок. </p>
<p>Единственным условием зачисления в ИПОПБ является оконченное среднее специальное или высшее образование. </p>
<p>Рассчитать стоимость учебной программы, задать вопросы и записаться на курс можно по контактному телефону или через специальную форму заявки на сайте. </p>

</div> 
