<div class="shortinfo-block">
<h3>Политика конфиденциальности</h3>
<p>
	 Оставляя данные на сайте, Вы соглашаетесь с Политикой конфиденциальности и защиты информации.
</p>
<p>
 <b>1.&nbsp;&nbsp; Защита данных</b>
</p>
<p>
	 Администрация сайта maspk.ru (далее — Сайт) не может передать или раскрыть информацию, предоставленную пользователем (далее Пользователь) при регистрации и использовании функций сайта третьим лицам, кроме случаев, описанных законодательством страны, на территории которой пользователь ведет свою деятельность.
</p>
<p>
 <b>2.&nbsp;&nbsp; Получение персональной информации</b>
</p>
<p>
	 При регистрации на посадочной странице пользователь обязан внести некоторую персональную информацию. Для проверки предоставленных данных посадочная страница оставляет за собой право потребовать доказательства идентичности в онлайн или оффлайн режимах.
</p>
<p>
 <b>3.&nbsp;&nbsp; Использование персональной информации</b>
</p>
<p>
	 3.1. Сайт хранит персональную информацию Пользователей в соответствии с внутренними регламентами конкретных сервисов.
</p>
<p>
	 3.2. В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных сервисов Пользователь соглашается с тем, что определенная часть его персональной информации становится общедоступной.
</p>
<p>
	 3.3. Сайт вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:
</p>
<p>
	 3.3.1. Пользователь выразил согласие на такие действия.
</p>
<p>
	 3.3.2. Передача необходима для использования Пользователем определенного сервиса либо для исполнения определенного соглашения или договора с Пользователем.
</p>
<p>
	 3.3.4. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры.
</p>
<p>
	 3.3.5. В случае продажи Сайта к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации.
</p>
<p>
	 3.4. Обработка персональных данных Пользователя осуществляется без ограничения срока любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств. Обработка персональных данных Пользователей осуществляется в соответствии с Федеральным законом от 27.07.2006 N 152-ФЗ "О персональных данных".
</p>
<p>
	 3.5. При утрате или разглашении персональных данных Администрация Сайта информирует Пользователя об утрате или разглашении персональных данных.
</p>
<p>
	 3.6. Администрация Сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
</p>
<p>
	 3.7. Администрация Сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
</p>
<p>
 <b>4.&nbsp;&nbsp; Контроль персональной информации</b>
</p>
<p>
	 Для контроля персональной информации в Сайте реализованы механизмы верификации личных данных. Ответственность за любые последствия предоставления недостоверных данных лежит на Пользователе. В случае если некоторые данные изменились, Пользователь обязан исправить данные в системе самостоятельно, либо связаться со службой поддержки для внесения корректировок.
</p>
<p>
 <b>5.&nbsp;&nbsp; Коммуникация</b>
</p>
<p>
	 При регистрации Пользователь получает сообщение, подтверждающее его успешную регистрацию. Пользователь имеет право в любой момент прекратить получение информационных сообщений, воспользовавшись соответствующим сервисом в Сайте.
</p>
<p>
 <b>6.&nbsp;&nbsp; Ссылки</b>
</p>
<p>
	 На сайте могут содержаться ссылки на другие сайты. Сайт не несет ответственности за содержание, качество и политику безопасности этих сайтов. Данное заявление о конфиденциальности относится только к информации, размещенной непосредственно на Сайте.
</p>
<p>
 <b>7.&nbsp;&nbsp; Безопасность</b>
</p>
<p>
	 Сайт обеспечивает безопасность учетной записи Пользователя от несанкционированного доступа.
</p>
<p>
 <b>8.&nbsp;&nbsp; Уведомления об изменениях</b>
</p>
<p>
</p>
<p>
	 Сайт оставляет за собой право вносить изменения в Политику конфиденциальности без дополнительных уведомлений. Нововведения вступают в силу с момента их опубликования. Пользователи могут отслеживать изменения в Политике конфиденциальности самостоятельно.
</p>

</div>