.header
  height: 85px
  display: flex
  background: black

  position: relative
  font-weight: 400
  font-family: 'FuturaPT'
  &__container
    display: flex
    justify-content: space-between
  &__logo-block
    display: flex
    align-items: center
  &__logo
    width: 140px
    margin-right: 10px
  &__logo-text
    color: white
    width: 190px
    font-size: 15px
  &__contact-block
    display: flex
    align-items: center
  &__contact-text
    font-style: 19px
    line-height: 1.5
    color: #c7c7c7
    margin-right: 30px
  &__phone

    display: block
    color: #ffffff
    font-size: 24px
    font-weight: 900
    line-height: 1.55
  &__icon
    width: 40px
  &__menu-link
    position: absolute
    right: 20px
    text: 20px
