body
  font-family: "FuturaPT"
  font-size: 16px
  line-height: 1
  color: black
@import 'variables'
@import 'fonts'
@import 'components'
@import 'header'
@import 'banner'
@import 'titleTovar'
@import 'products'
