body
  font-family: 'FuturaPT', Arial, sans-serif 
  font-size: 16px
  line-height: 1
  color: black
@import '_variables'
@import '_fonts'
@import '_components'
@import '_header'
@import '_banner'
@import '_titleTovar'
@import '_products'
@import '_order'
@import '_gallery'
@import '_important'
@import '_map'
@import '_bank'
@import '_nav'
@import '_contacts';
@import '_akcia'
@import '_zakazModal'
