#calculator .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#calculator{
	display:block;
	position: relative;
	text-align:center;
	margin:0 auto 0px auto;
    width: 680px; 
	max-width:100%;
}
#calculator *:focus{outline:none !important;}
#calculator_title{
    font-size: 18px;
    line-height: 22px;
    padding: 15px 10px;
    margin: -1px -16px;
    color: #fff;
    background: #236799;
}
	
.calc_step{display: none; /*margin: 1rem auto 6rem auto;*/min-height:130px;}
.actstep{display:flex; justify-content: center;}
.cstep_title{
display:block; 
width: 100%; 
font-size: 18px; 
text-align: center; 
margin: 15px 0;
padding:10px 20px;
float:left;    
color: rgb(2, 247, 180);
text-transform: uppercase;
}

/*.calc_step label{display: inline-block; margin: 10px; min-width: 145px; background: #fff; 	border: 1px solid #236799;   padding: 5px 10px; cursor: pointer; color: #3e4757;
font-weight:normal; font-size: 15px; line-height: 36px;}*/

.calc_step .agreement label{display: block; padding:0; margin:0; background: transparent; border:none;}
.calc_step label:hover{background:#e8b800;}
.calc_step .agreement label:hover{background: none; color: #222;}
.calc_step input[type="radio"]{display:none;}
.calc_step input[type="radio"]:checked + label{
    background: rgba(255,255,255,0.8);
    color: #3a3636;
    /* border-color: #e8b800; */
}
.calc_step .inputtext, .calc_step .inputphone,.calc_step .inputname{width:200px; padding: 10px 15px; margin:10px 10px 29px 10px; border-radius: 3px;border: none; background: #ffffffd6;}
.step_label{
    display: block;
    color: #209d6f;
    text-align: center;
    margin: 15px auto;
    font-size: 14px;
	height:25px;
	line-height:25px;
}
.csubmit{display:block; width:100%; text-align: center;}
#calculator_result{background: #fff; color:#060; font-size: 18px; padding: 30px 10px;}
#calculator_result span{display: block; margin: 15px auto;}
#cprev_btn:hover{color:#EC1D23;}
#cnext_btn, #calc_submit{    
	background: #209d6f;
    border-color: transparent !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 3px;
    padding: 15px 25px;
    font-weight: 600;
	min-width:170px;}
#cnext_btn:hover, #calc_submit:hover{opacity:0.85;cursor:pointer;}
.next_active{}


.rangeslider,
input[type='range'] {
  max-width: 400px;
  margin: 20px auto;
}

.rangeslider__handle {
  border-radius: 10px;
  min-width: 62px;
  line-height: 38px;
  text-align: center;
  background-image:none;
  font-size: 20px;
  color: #004B8D;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.rangeslider__handle:after{background:none;}

.rangeslider__fill{
	background: #004B8D;
}



@media (min-width: 1200px)
{
.container {
    padding-right: 15px;
    padding-left: 15px;
}
}
@media (min-width: 992px)
{
.container {
    padding-right: 15px;
    padding-left: 15px;
}
}
@media (min-width: 768px)
{
.container {
    padding-right: 15px;
    padding-left: 15px;
}
}
@media (min-width: 576px)
{
.container {
    padding-right: 15px;
    padding-left: 15px;
}
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
	max-width:1200px;
}

.calc_step {
    display: none !important;
}

.actstep {
    display: flex !important;
    justify-content: center !important;
}

.btn-sm, .btn-group-sm > .btn {
	padding: 5px 10px !important;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-left: -30px;
}


.calc-note
{margin:15px 0;}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
	background:none;
	border:none;
}

.calc-wrap
{width:100%;
margin:10px 0;
position: relative;
float: left;}

.errortext
{margin-top:20px;font-size:90%;
    width: 100%;
    display: inline-block;}

.calc-agreement
{font-size:12px;
line-height:16px;
text-align:center;
width:100%;
bottom: -22px;
position: absolute;}

#calculator .fa
{
font-size: 14px;
color: #86928f;	
}

/************************************/
#calculator {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto 0px auto;
    width: 100%;
}
/*
.cstep_title {
    display: block;
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
	line-height: 18px;
}
*/
.calc_step label {
    display: inline-block;
    margin: 0 3px;
    max-width: 255px;
	min-width:170px;
    background: transparent;
    border: 2px solid transparent;
    padding: 10px 10px;
    cursor: pointer;
    color:#fff;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
    border-radius: 0px;
    height: auto;
    border-radius: 3px;
}

.calc_step label:first-child
{margin-left:0;}

.clearfloat, .clearfix {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

#cstep4 .cstep_wrap
{min-height:130px;}

#cstep4
{height:auto;}

#cstep4 .cstep_title
{text-align:left;
text-transform: none !important;
    margin-bottom: 10px !important;}

.calc-note {
    margin: 0px auto;
    max-width: 400px;
    padding: 30px 40px;
    border-radius: 3px;
    background: #e8b800;
    color: #fff;
}

#calculator form{
    max-width: 760px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    border-radius: 3px;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

#cstep4 .cstep_title {
    display: block;
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin: 15px 0 20px 0;
    padding: 10px 20px;
    float: left;
    color: rgb(2, 247, 180);
    text-transform: uppercase;
}

@media screen and (max-width: 869px)
{


	#calculator form
	{
	    padding: 15px 15px 20px 15px !important;
	}
	.cstep_title
	{
		width:100% !important;
	}

}

.mb-3  .btn
{
	margin-top:25px;
}




/*
@media only screen and (max-width: 869px) {*/
	.logo-top {
		position: relative;
		margin-top: 0px;
		left: 0;
		font-size: 20px;
		font-weight: 400;
		color: rgba(255,255,255,0.8);
		text-align: center;
		margin-bottom: 30px;
		width: 100%;
		float: left;
	}
/*}*/


#calc_submit:disabled {
    background: #909090;
}	

@media screen and (max-width: 869px)
{
	html, body, .cd-section{
		height: auto !important;
		min-height: 100vh;
		position: relative;
		float: left;
	}
	
	.cd-section
	{padding-bottom:60px;}
	
	#calculator
	{padding:0;}

}


#calc_submit:disabled {
    background: #909090;
}
