// User variables:
$accent: #e70067
$text: #60759d

$xxs: 320px
$xs: 575px
$sm: 768px
$md: 992px
$lg: 1200px
$lg-1: 1440px
$xl: 1680px
$xxl: 1920px

// Bootstrap compatible gutter variable => $gutter
// $grid-gutter-width: 20px
// $gutter: $grid-gutter-width

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
