.container{
    margin:0 auto;
    width:100%;
    max-width:1182px;
    padding:0 15px
}
.container,.text_form_one{
    position:relative
}
#header{
    padding-top:10px;
    padding-bottom:15px;
    background:#f2f1f1
}
.header_bl,.sale_one_bl,.countdown,.text_timer,.dash.seconds_dash,.dash.minutes_dash,.dash.hours_dash{
    display:flex
}
.header_bl,.sale_one_bl{
    justify-content:space-between
}
.header_bl,.sale_one_bl,.countdown,.dash.seconds_dash,.dash.minutes_dash,.dash.hours_dash{
    align-items:center
}
.header_bl{
    flex-wrap:wrap
}
.logo{
    margin:0 auto;
    font-size: 40px;
}
.list li{
    display:inline-block;
    margin-right:31px
}
.list li,#form2 input,#form1 input{
    font-size:16px
}
.list li,.text_form_one{
    font-family:"Raleway Semi Bold",sans-serif
}
.list li,.sneakers_one_text,.sneakers_two_text h1,#form2 button,#form1 button{
    text-transform:uppercase
}
.list li:last-child{
    margin-right:0
}
.sneakers_two{
    margin-right:0;
    margin-left
}
.list li:last-child a,.list li a:hover,.sneakers_two_text h1,.countdown{
    color:#ad4b21
}
.list li a,#form2 button,#form1 button{
    transition:background 0.3s
}
.sale_one_block{
    background: url('../img/bg1.jpg') center center no-repeat;
    background-size: cover;
    padding-top:72px;
    padding-bottom:78px
}
.sneakers_one{
    min-width:750px;
    margin-right:20px
}
.sneakers_one_text{
    margin-bottom:-18px
}
.sneakers_one_text h2{
    font-size:38px;
    margin-bottom:25px;
    color:#000
}
.sneakers_one_text h2,.sneakers_two_text h1,#form2 button,#form1 button{
    font-family:"Raleway Extra Bold",sans-serif
}
.sneakers_two_text{
    margin-bottom:45px
}
.sneakers_two_text h1{
    font-size: 50px;
    font-weight:900;
}
.sneakers_two_text h1 span{
    font-size:68px;
    font-family:"Gotham Pro Bold",sans-serif
}
.text_form_one{
    font-size:36px;
    padding-bottom:10px
}
.text_form_one,.text_form_two{
    text-align:center
}
.text_form_one::before{
    content:'';
    position:absolute;
    bottom:0;
    left:125px;
    height:2px;
    width:61px;
    background:url(../img/line.jpg)no-repeat
}
.text_form_two{
    margin-top:17px;
    font-family:"Roboto Light",sans-serif;
    margin-bottom:-5px
}
.text_form_two,#form2 button,#form1 button{
    font-size:18px
}
.countdown{
    font-size:60px;
    font-family:"Gotham Pro Regular",sans-serif;
    margin-left:38px
}
.text_timer{
    font-size:14px;
    justify-content:space-around;
    color:#ccc;
    margin:0 33px 16px 37px
}
.text_timer,#form2 input,#form1 input{
    font-family:"Raleway",sans-serif
}
h6,h2,h3,h4,h5,h1{
    margin:0
}
#form2{
    width:381px;
    background:#fff;
    margin-top:16px;
    padding-right:31px;
    padding-left:35px;
    padding-top:28px;
    padding-bottom:38px;
    border:1px solid #ededed;
    -webkit-box-shadow:0 0 43px 6px rgba(173, 75, 33, 0.6);
    -moz-box-shadow:0 0 43px 6px rgba(173, 75, 33, 0.6);
    box-shadow:0 0 43px 6px rgba(173, 75, 33, 0.6)
}
#form1{
    background: #fff;
    width:381px;
    margin-top:16px;
    padding-right:31px;
    padding-left:35px;
    padding-top:28px;
    padding-bottom:38px;
    border:1px solid #ededed;
    -webkit-box-shadow:0 0 43px 6px rgba(237,237,237,1);
    -moz-box-shadow:0 0 43px 6px rgba(237,237,237,1);
    box-shadow:0 0 43px 6px rgba(237,237,237,1)
}
#form2 input,#form1 input,#form2 button,#form1 button{
    width:306px;
    height:53px;
    border-radius:5px;
    outline:none
}
#form2 input,#form1 input{
    border:1px solid #ccc;
    padding-left:45px;
    margin-bottom:18px;
    transition:border 0.3s
}
#form2 input:focus,#form1 input:focus{
    border:1px solid #ad4b21
}
#form2 button,#form1 button{
    cursor:pointer;
    background:#ad4b21;
    -webkit-box-shadow:0 5px 0 0px rgba(133,58,26,1);
    -moz-box-shadow:0 5px 0 0px rgba(133,58,26,1);
    box-shadow:0 5px 0 0px rgba(133,58,26,1)
}
#form2 button{
    color:#fff;
    border:0
}
#form1 button{
    color:#fff;
    border:0
}
#form2 button:hover{
    background:#853a1a
}
#form1 button:hover{
    background:#853a1a
}
.list li a{
    color:#1b1813;
    padding-bottom:36px;
    border-bottom:5px solid transparent
}
