body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #fffefe;
  line-height: 1.2; }

h2 {
  padding-top: 55px;
  margin-bottom: 45px;
  font-size: 40px;
  font-family: "Roboto Slab";
  color: #d80036;
  font-weight: 700;
  line-height: 1.2;
  text-align: center; }

.telephone {
  display: flex;
  margin-bottom: 9px; }
  .telephone__icon {
    height: 21px;
    width: 21px;
    margin-right: 5px; }
  .telephone__text {
    color: white; }
    .telephone__text:hover {
      color: white; }

.work-time {
  display: flex; }
  .work-time__icon {
    margin-right: 5px;
    height: 21px;
    width: 21px; }
  .work-time__text {
    align-items: flex-start;
    margin-top: -8px; }
  .work-time__day {
    color: #fffefe; }
  .work-time__time {
    font-size: 14px;
    color: rgba(255, 254, 254, 0.8); }

.button {
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 195px;
  background-color: #e81f51;
  border: none;
  border-radius: 22px;
  font-size: 18px;
  color: white;
  transition: 0.1s; }
  .button:focus {
    outline: none; }
  .button:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ed4d75; }

.header {
  height: 494px;
  background: url("../img/kindergarten-2204239.jpg") no-repeat center;
  background-size: auto 100%;
  position: relative; }
  .header:after {
    content: "";
    position: absolute;
    background-color: #303f9f;
    opacity: 0.7;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0; }
  .header__top {
    position: relative;
    z-index: 1;
    color: white;
    padding-top: 30px; }
  .header__tel {
    margin-right: 35px; }
    @media (max-width: 576px) {
      .header__tel {
        margin-right: 10px; } }
  .header__work {
    margin-left: 35px; }
    @media (max-width: 576px) {
      .header__work {
        margin-left: 10px; } }
  .header__text {
    position: relative;
    margin-top: 50px;
    z-index: 1; }
    @media (max-width: 576px) {
      .header__text {
        padding-top: 100px;
        margin-top: 0px; } }
  .header__small {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    margin-bottom: -13px; }
  .header__heading {
    font-size: 60px;
    font-weight: 600;
    color: white;
    margin-left: -5px; }
  .header__title {
    margin-top: 25px;
    font-size: 22px;
    color: white;
    max-width: 545px; }

.menu {
  height: auto;
  background-color: #303f9f; }
  @media (max-width: 768px) {
    .menu {
      padding: 20px 0px; } }
  .menu__wrap {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 768px) {
      .menu__wrap {
        flex-direction: column; } }
  .menu__item-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 18px;
    padding-left: -15px; }
    .menu__item-wrap a {
      transition: 0.2s;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: #fffefe; }
      .menu__item-wrap a:hover {
        text-decoration: none;
        background-color: #e81f51;
        color: #fffefe;
        text-decoration: none; }
  .menu .current_page_item {
    background-color: #e81f51; }

.footer {
  background-color: #555555;
  padding: 60px 0px; }
  .footer__menu-wrap {
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column; }
  .footer__menu-item {
    font-size: 18px;
    font-family: "Open Sans";
    color: white;
    line-height: 1.667; }
    .footer__menu-item a {
      color: white; }
      .footer__menu-item a:hover {
        text-decoration: none;
        color: #4664ea; }
  .footer__heading {
    font-size: 18px;
    margin-bottom: 11px; }
    @media (max-width: 576px) {
      .footer__heading {
        margin-top: 23px; } }
    .footer__heading:not(:first-child) {
      margin-top: 23px; }
  .footer__geolocation {
    margin-bottom: 20px; }
  .footer__soc {
    height: 40px;
    width: 40px; }

.form {
  display: flex;
  flex-direction: column; }
  .form input,
  .form textarea {
    border-radius: 10px;
    width: 270px;
    border: none;
    padding: 10px; }
  .form__input-wrap {
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between; }
  .form__heading {
    font-size: 18px;
    margin-bottom: 23px;
    color: white;
    line-height: 1.2; }
    @media (max-width: 576px) {
      .form__heading {
        margin-top: 20px; } }
  .form__text {
    align-self: flex-start; }
  .form__button {
    width: 142px;
    height: 41px;
    font-size: 16px;
    margin-left: auto; }
  .form__textarea {
    height: 124px; }

.geolocation {
  display: flex; }
  .geolocation__icon {
    height: 17px;
    width: auto;
    margin-right: 5px; }

.bg {
  background-image: url(../img/sky.jpg);
  background-size: 100% auto; }

/*# sourceMappingURL=allpage.css.map */
